footer {
    background-color: black;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

footer a {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
}

footer a:hover {
    font-size: 1.1em;
}